---
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/style.css"
---
<MainLayout>
	<h2>Focus</h2>
	<section class="grid_7">
<Card header="Peaceful Piano" text="Relax and indulge with beautiful piano pieces">
	<img src="https://picsum.photos/id/65/150/150" alt="hej">
</Card>
<Card header="Deep Focus" text="Keep calm and focus with ambient">
	<img src="https://picsum.photos/id/68/150/150" alt="hej">
</Card>
<Card header="Instrumental Focus" text="Focus with soft study music">
	<img src="https://picsum.photos/id/76/150/150" alt="hej">
</Card>
<Card header="Jazz Vibes" text="The original chill instrumental beats">
	<img src="https://picsum.photos/id/240/150/150" alt="hej">
</Card>
<Card header="Focus flow" text="Uptempo instrumental hip hop and beats">
	<img src="https://picsum.photos/id/331/150/150" alt="hej">
</Card>
<Card header="Beats to think to" text="Focus with deep techno and tech house">
	<img src="https://picsum.photos/id/325/150/150" alt="hej">
</Card>
<Card header="Reading Adventure" text="Scores and soundtracks for..">
	<img src="https://picsum.photos/id/334/150/150" alt="hej">
</Card>
</section>

<h2>Spotify Playlists</h2>
<section class="grid_7">
<Card header="Today's Top Hits" text="The Weekend and Ariana Grande on top..">
	<img src="https://picsum.photos/id/338/150/150" alt="hej">
</Card>
<Card header="RapCaviar" text="New muusic for Don Toliver, Quavo..">
	<img src="https://picsum.photos/id/349/150/150" alt="hej">
</Card>
<Card header="All Out 2010s" text="The biggest songs of 2010s">
	<img src="https://picsum.photos/id/364/150/150" alt="hej">
</Card>
<Card header="Rock Classics" text="Rock legends and epic songs">
	<img src="https://picsum.photos/id/68/150/150" alt="hej">
</Card>
<Card header="Chill Hits" text="Kick Back to the best new and recent chill">
	<img src="https://picsum.photos/id/76/150/150" alt="hej">
</Card>
<Card header="Viva Latino" text="Today's top latin hits, elevando nuestra..">
	<img src="https://picsum.photos/id/240/150/150" alt="hej">
</Card>
<Card header="Mega Hit Mix" text="A mega mix of 75 favorites from the last..">
	<img src="https://picsum.photos/id/331/150/150" alt="hej">
</Card>
</section>

<h2>Sleep</h2>
<section class="grid_7">
<Card header="Sleep" text="Gentle ambient piano to help you fall asleep">
	<img src="https://picsum.photos/id/325/150/150" alt="hej">
</Card>
<Card header="DayDreamer" text="Drift away with enthralling">
	<img src="https://picsum.photos/id/334/150/150" alt="hej">
</Card>
</section>
</MainLayout>