---
import MainLayout from "../layouts/MainLayout.astro";
import CardSearch from "../components/CardSearch.astro";
import "../styles/style.css"
---

<MainLayout>
<h2>Browse all</h2>
	<section class="grid_6">
<CardSearch header="Podcasts">
	<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="Made For You">
	<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="Charts">
		<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="New Releases">
	<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="Live Events">
		<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="Podcasts">
	<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
</section>

	<section class="grid_6">
<CardSearch header="Podcasts">
		<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="Made For You">
	<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="Charts">
		<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="New Releases">
		<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="Live Events">
	<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="Podcasts">
		<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
</section>

	<section class="grid_6">
<CardSearch header="Podcasts">
	<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="Made For You">
	<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="Charts">
	<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="New Releases">
		<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="Live Events">
	<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
<CardSearch header="Podcasts">
		<img src="https://picsum.photos/id/65/150/150" alt="hej" class="drej">
</CardSearch>
</section>
</MainLayout>

