
<nav>
<img src="/icons/logo.svg" alt="logo" class="logo">
	<a href="/#">Home</a>
	<a href="/search">Search</a>
	<a href="/#">Your Library</a>
</nav>

<style>
    nav {
        background-color: black;
        display: flex;
        flex-direction: column;
    }
</style>