---
import Navigation from "../components/Navigation.astro";
import Button from "../components/Button.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forside</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500&family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="grid_1">
	
    <nav>
		<Navigation />
	</nav>

<header class="black">
		<div class="button-container">
	<Button variant="primary">Sign up<Button /> 
	<Button variant="secondary">Log på<Button /> 
	</div>
</header>

	<aside>

	</aside>

	<main>
        <slot />
    </main>

        </body>
        </html>